// @include media-breakpoint-up(lg) {
// }

.sidebar-left {
	max-height: 100vh;
	overflow-y: scroll;
	top: 4rem;
	font-family: $font-family-monospace;
	scrollbar-width: none;
}

.toc {
	
	counter-reset: sectioncountertoc;
	
	ul {
		list-style: none;
	}

	& > ul {
		padding: 0;

		& > li {
			padding-bottom: 1em;

			& > a {
				font-weight: bold;

				&:before {
					content: counter(sectioncountertoc) " ";
					counter-increment: sectioncountertoc;
					opacity: .5;
				}
			}
		}
	
		ul {
			padding-left: 0;
		}
	}
	
	.toc-section-number {
		display:none;
	}
}

.references {
  padding-top: 3rem;
  font-size: .9rem;
  color: rgba(0, 75, 68, 0.6);
  font-family: "Ubuntu Mono";
	
	h4 {
    font-weight: bold;
		font-size: 1rem; 
	}
	
	ul {
		padding: 0;
		-webkit-column-count: 2;
		column-count: 2; 
		list-style: none;

		li {
			margin-bottom: 1em;
		}
	}
}


.session-abstracts {
	list-style: none;
	padding: 0;
}